In [33]:
from future.builtins import next
import pandas as pd
import os
import csv
import re
import logging
import optparse

import dedupe
from unidecode import unidecode

In [34]:
optp = optparse.OptionParser()
optp.add_option('-v', '--verbose', dest='verbose', action='count',
                help='Increase verbosity (specify multiple times for more)'
                )
(opts, args) = optp.parse_args()
log_level = logging.WARNING 
if opts.verbose:
    if opts.verbose == 1:
        log_level = logging.INFO
    elif opts.verbose >= 2:
        log_level = logging.DEBUG
logging.getLogger().setLevel(log_level)

Usage: __main__.py [options]

__main__.py: error: no such option: -f

SystemExit: 2

/home/priyansh/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [35]:
df = pd.read_csv('Deduplication Problem - Sample Dataset.csv')
df.head()
#df.info()

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM

In [36]:
Identity = []
for i in range(1,104):
    Identity.append(str(i))
    
df["Id"] = Identity
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
ln     103 non-null object
dob    103 non-null object
gn     103 non-null object
fn     103 non-null object
Id     103 non-null object
dtypes: object(5)
memory usage: 4.1+ KB

In [37]:
document1 = []
document2 = []
document3 = []
document4 = []

for ln in df["ln"]:
    document1.append(ln)
    
for dates in df["dob"]:
    document2.append(dates)
    
for gn in df["gn"]:
    document3.append(gn)
    
for fn in df["fn"]:
    document4.append(fn)

In [38]:
df.drop(["ln","dob","gn","fn"],axis=1,inplace=True)

In [39]:
df["ln"] = document1
df["dob"] = document2
df["gn"] = document3
df["fn"] = document4

In [40]:
df.head()
df.to_csv("real.csv")

In [41]:


def preProcess(column):
    try : # python 2/3 string differences
       column = column.decode('utf8')
    except AttributeError:
       pass
    column = unidecode(column)
    column = re.sub('  +', ' ', column)
    column = re.sub('\n', ' ', column)
    column = column.strip().strip('"').strip("'").lower().strip()



#If data is missing, indicate that by setting the value to None

    if not column:
        column = None
    return column



df2 = pd.read_csv("real.csv")
df2.drop(["Unnamed: 0"],axis=1,inplace=True)
df2.head()
df2.to_csv("max.csv")
df2.head()

   Id            ln       dob gn       fn
0   1      SMITH JR  01/03/68  F  WILLIAM
1   2  ROTHMEYER JR  01/03/68  F  WILLIAM
2   3       ASBY JR  01/03/68  F  WILLIAM
3   4     SALTER JR  01/03/68  F  WILLIAM
4   5     SALTER JR  01/03/68  F  WILLIAM

In [42]:
#Function to read file

def readData(filename):
    data_d = {}
    with open(filename) as f:
        reader = csv.DictReader(f)
        for row in reader:
            clean_row = [(k,preProcess(v))for (k, v) in row.items()]
            row_id = (row['Id'])
            data_d[row_id] = dict(clean_row)

    return data_d

In [43]:
#Defining all files
input_file = 'max.csv'
output_file = 'csv_example_output.csv'
settings_file = 'csv_example_learned_settings'
training_file = 'csv_example_training.json'

In [44]:
print('importing data ...')
data_d = readData(input_file)

#If a settings file already exists, we'll just load that and skip training

if os.path.exists(settings_file):
    print('reading from', settings_file)
    with open(settings_file, 'rb') as f:
        deduper = dedupe.StaticDedupe(f)
else:
    fields = [
        {'field' : 'dob', 'type': 'String'},
        {'field' : 'gn', 'type': 'String'},
        {'field' : 'fn', 'type': 'String'},
        {'field' : 'ln', 'type': 'String'}
        ]

#Training

INFO:dedupe.api:((SimplePredicate: (suffixArray, dob), TfidfNGramCanopyPredicate: (0.6, ln)),)

importing data ...
reading from csv_example_learned_settings

In [45]:
#Defining Fields

fields = [
        {'field' : 'dob', 'type': 'String'},
        {'field' : 'gn', 'type': 'String'},
        {'field' : 'fn', 'type': 'String'},
        {'field' : 'ln', 'type': 'String'}
        ]

In [46]:
deduper = dedupe.Dedupe(fields)
deduper.sample(data_d, 200)
              


if os.path.exists(training_file):
    print('reading labeled examples from ', training_file)
    with open(training_file, 'rb') as f:
        deduper.readTraining(f)


#Active learning

#Dedupe will find the next pair of records it is least certain about and ask to label them as duplicates or not. 

print('starting active labeling...')

dedupe.consoleLabel(deduper)

/home/priyansh/anaconda3/lib/python3.5/site-packages/dedupe/sampling.py:39: UserWarning: 100 blocked samples were requested, but only able to sample 92
  % (sample_size, len(blocked_sample)))
INFO:dedupe.api:reading training from file
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (suffixArray, dob), TfidfNGramCanopyPredicate: (0.6, ln))
dob : 24/06/39
gn : m
fn : john
ln : michaelson jr

dob : 24/06/39
gn : m
fn : jack
ln : michaelson jr

20/10 positive, 85/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished

reading labeled examples from  csv_example_training.json
starting active labeling...
f

Finished labeling

In [47]:
deduper.train()

with open(training_file, 'w') as tf:
        deduper.writeTraining(tf)

with open(settings_file, 'wb') as sf:
        deduper.writeSettings(sf)
        



threshold = deduper.threshold(data_d, recall_weight=1)

INFO:rlr.crossvalidation:using cross validation to find optimum alpha...
INFO:rlr.crossvalidation:optimum alpha: 0.100000, score 0.911548258314378
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (suffixArray, dob), TfidfNGramCanopyPredicate: (0.6, ln))
INFO:dedupe.api:Maximum expected recall and precision
INFO:dedupe.api:recall: 0.959
INFO:dedupe.api:precision: 0.917
INFO:dedupe.api:With threshold: 0.529

In [48]:
#clustering the data
print('clustering...')
clustered_dupes = deduper.match(data_d, threshold)
clustered_dupes_2 = deduper.match(data_d)
print('# duplicate sets', len(clustered_dupes))

clustering...
# duplicate sets 28

In [49]:
lis = [x[0] for x in clustered_dupes]
lis1 = [y[0] for y in lis]
lis2 = [y[1] for y in lis]
print(lis1)

['91', '80', '34', '46', '10', '51', '17', '67', '21', '95', '15', '31', '63', '11', '76', '24', '29', '85', '20', '48', '101', '54', '36', '56', '59', '39', '41', '4']

In [50]:
#print(lis)
lisbn = list(lis)
lisbn2 = list(lisbn)

In [51]:
lisbn

[('91', '92', '93'),
 ('80', '81'),
 ('34', '35'),
 ('46', '47'),
 ('10', '9'),
 ('51', '52', '53'),
 ('17', '18'),
 ('67', '68', '69', '70', '71', '72', '73', '74', '75'),
 ('21', '22'),
 ('95', '96', '97', '98', '99'),
 ('15', '16'),
 ('31', '32'),
 ('63', '64'),
 ('11', '12', '13', '14', '6', '7', '8'),
 ('76', '77', '78', '79', '83', '84'),
 ('24', '25', '26', '27'),
 ('29', '30'),
 ('85', '86'),
 ('20', '23'),
 ('48', '49', '50'),
 ('101', '102', '103'),
 ('54', '55'),
 ('36', '37', '38'),
 ('56', '57', '58'),
 ('59', '60', '61'),
 ('39', '40'),
 ('41', '42'),
 ('4', '5')]

In [52]:
list3 = []
for i in range(0,22):
    main = list(lisbn[i])
    for j in range(0,len(main)):
        list3.append(main[j])
     

list3

['91',
 '92',
 '93',
 '80',
 '81',
 '34',
 '35',
 '46',
 '47',
 '10',
 '9',
 '51',
 '52',
 '53',
 '17',
 '18',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '21',
 '22',
 '95',
 '96',
 '97',
 '98',
 '99',
 '15',
 '16',
 '31',
 '32',
 '63',
 '64',
 '11',
 '12',
 '13',
 '14',
 '6',
 '7',
 '8',
 '76',
 '77',
 '78',
 '79',
 '83',
 '84',
 '24',
 '25',
 '26',
 '27',
 '29',
 '30',
 '85',
 '86',
 '20',
 '23',
 '48',
 '49',
 '50',
 '101',
 '102',
 '103',
 '54',
 '55']

In [53]:
list4 = []
list4 = [item for item in Identity if item not in list3]

for k in range(0,len(lis1)):
    list4.append(lis1[k])
list4
print(len(list4))

62

In [54]:
df3 = pd.DataFrame(columns=['Id','dob','gn','fn','ln'])
df3

Empty DataFrame
Columns: [Id, dob, gn, fn, ln]
Index: []

In [55]:
df2

      Id             ln       dob gn            fn
0      1       SMITH JR  01/03/68  F       WILLIAM
1      2   ROTHMEYER JR  01/03/68  F       WILLIAM
2      3        ASBY JR  01/03/68  F       WILLIAM
3      4      SALTER JR  01/03/68  F       WILLIAM
4      5      SALTER JR  01/03/68  F       WILLIAM
5      6       BLAND JR  21/02/62  F       WILLIAM
6      7       BLAND JR  21/02/62  F       WILLIAM
7      8       BLAND JR  21/02/62  F       WILLIAM
8      9     SHAFFER JR  21/02/62  F       WILLIAM
9     10     SHAFFER JR  21/02/62  F       WILLIAM
10    11      BLAND III  21/02/62  F       WILLIAM
11    12       BLAND JR  21/02/62  F          BILL
12    13          BLAND  21/02/62  F       WILLIAM
13    14       BLAND JR  21/02/62  F       WILLIAM
14    15       BLAND JR  08/06/54  F       WILLIAM
15    16       BLAND JR  08/06/54  F       WILLIAM
16    17       BLAND JR  25/10/53  F       WILLIAM
17    18       BLAND JR  25/10/53  F       WILLIAM
18    19     SHAFFER JR  25/10/53  F       WILLIAM
19    20      DUNCAN JR  25/10/53  F        THOMAS
20    21     CARLSON JR  25/10/53  F           ROY
21    22     CARLSON JR  25/10/53  F           RON
22    23      DUNCAN JR  25/10/53  F           ROY
23    24     MICHAELSON  25/10/53  M           ROY
24    25  MICHAELSON JR  25/10/53  M           ROY
25    26     MICHAELSON  25/10/53  M           ROY
26    27  MICHAELSON JR  25/10/53  M           ROY
27    28  MICHAELSON JR  01/05/51  M           ROY
28    29  MICHAELSON JR  17/06/48  M           ROY
29    30  MICHAELSON JR  17/06/48  M           ROY
..   ...            ...       ... ..           ...
73    74      MELVIN JR  07/10/37  M        HAROLD
74    75      MELVIN JR  07/10/37  M        HAROLD
75    76      CHAVAS JR  07/10/37  M        HAROLD
76    77      CHAVAS JR  07/10/37  M        HAROLD
77    78      CHAVAS JR  07/10/37  M        HAROLD
78    79      CHAVAS JR  07/10/37  M        HAROLD
79    80  MICHAELSON JR  07/10/37  M        HAROLD
80    81  MICHAELSON JR  07/10/37  M        HAROLD
81    82       SMITH JR  07/10/37  M        HAROLD
82    83      CHAVAS JR  07/10/37  M        HAROLD
83    84      CHAVAS JR  07/10/37  M        HAROLD
84    85       FAGEN JR  07/10/37  M        HAROLD
85    86       FAGEN JR  07/10/37  M        HAROLD
86    87       FAGEN JR  07/10/37  M        GEORGE
87    88     GRIFFIN JR  07/10/37  M          DARH
88    89     GRIFFIN JR  10/07/37  M          DARL
89    90     GRIFFIN JR  07/05/37  M          DARL
90    91     GRIFFIN JR  07/05/37  M      CLIFFORD
91    92     GRIFFIN JR  07/05/37  M      CLIFFORD
92    93     GRIFFIN JR  07/05/37  M      CLIFFORD
93    94     GRIFFIN JR  07/05/37  M      CLARENCE
94    95          HANNA  24/11/34  M     ADDISON J
95    96          HANNA  24/11/34  M  ADDISON JOHN
96    97          HANNA  24/11/34  M       ADDISON
97    98          HANNA  24/11/34  M       ADDISON
98    99          HANNA  24/11/34  M       ADDISON
99   100    GALETICH JR  15/10/32  M       ADDISON
100  101   FUNARO JONES  06/12/37  F       HARRIET
101  102       FUNARO J  06/12/37  F       HARRIET
102  103         FUNARO  06/12/37  F       HARRIET

[103 rows x 5 columns]

In [56]:
df2.dtypes

Id      int64
ln     object
dob    object
gn     object
fn     object
dtype: object

In [57]:
df2.loc[3]

Id             4
ln     SALTER JR
dob     01/03/68
gn             F
fn       WILLIAM
Name: 3, dtype: object

In [58]:
list4.sort()

In [59]:
for i in list4:
    df3 = df3.append(df2.loc[int(i)])
    #print(i)

In [60]:
df3.reset_index()

    index   Id       dob gn            fn             ln
0       1    2  01/03/68  F       WILLIAM   ROTHMEYER JR
1      10   11  21/02/62  F       WILLIAM      BLAND III
2     100  101  06/12/37  F       HARRIET   FUNARO JONES
3     101  102  06/12/37  F       HARRIET       FUNARO J
4      11   12  21/02/62  F          BILL       BLAND JR
5      15   16  08/06/54  F       WILLIAM       BLAND JR
6      17   18  25/10/53  F       WILLIAM       BLAND JR
7      19   20  25/10/53  F        THOMAS      DUNCAN JR
8       2    3  01/03/68  F       WILLIAM        ASBY JR
9      20   21  25/10/53  F           ROY     CARLSON JR
10     21   22  25/10/53  F           RON     CARLSON JR
11     24   25  25/10/53  M           ROY  MICHAELSON JR
12     28   29  17/06/48  M           ROY  MICHAELSON JR
13     29   30  17/06/48  M           ROY  MICHAELSON JR
14      3    4  01/03/68  F       WILLIAM      SALTER JR
15     31   32  09/04/47  M        ROBERT  MICHAELSON JR
16     33   34  11/03/47  M          OWEN    MUSTAPHA JR
17     34   35  11/03/47  M          OWAN    MUSTAPHA JR
18     36   37  31/01/46  M      LAWRENCE    HOUGHTON JR
19     36   37  31/01/46  M      LAWRENCE    HOUGHTON JR
20     37   38  31/01/46  M      LAWRENCE    HOUGHTON JR
21     38   39  31/01/46  M      LAWRENCE        LIND JR
22     39   40  31/01/46  M      LAWRENCE        LIND JR
23     39   40  31/01/46  M      LAWRENCE        LIND JR
24      4    5  01/03/68  F       WILLIAM      SALTER JR
25      4    5  01/03/68  F       WILLIAM      SALTER JR
26     40   41  31/01/46  M       KENNETH        LIND JR
27     41   42  31/01/46  M       KENNETH        LIND JR
28     41   42  31/01/46  M       KENNETH        LIND JR
29     42   43  20/01/46  M          JOHN        LIND JR
..    ...  ...       ... ..           ...            ...
32     45   46  09/02/45  M        RONALD          CLARK
33     46   47  09/02/45  M        DONALD          CLARK
34     48   49  16/12/44  M          JOHN       CLARK JR
35      5    6  21/02/62  F       WILLIAM       BLAND JR
36     51   52  16/12/44  M          JOHN  MICHAELSON JR
37     54   55  24/04/40  M          JOHN  MICHAELSON JR
38     56   57  24/06/39  M          JOHN  MICHAELSON JR
39     56   57  24/06/39  M          JOHN  MICHAELSON JR
40     57   58  24/06/39  M          JOHN  MICHAELSON JR
41     58   59  24/06/39  M         JAMES  MICHAELSON JR
42     59   60  24/06/39  M         JAMES  MICHAELSON JR
43     59   60  24/06/39  M         JAMES  MICHAELSON JR
44     60   61  24/06/39  M          JACK  MICHAELSON JR
45     61   62  09/06/39  M          JACK  MICHAELSON JR
46     62   63  09/06/39  M        HAROLD      LARSON JR
47     63   64  09/06/39  M        HAROLD      LARSON JR
48     65   66  07/10/37  M        HAROLD    HOUGHTON JR
49     66   67  07/10/37  M        HAROLD      MELVIN JR
50     67   68  07/10/37  M        HAROLD      MELVIN JR
51     76   77  07/10/37  M        HAROLD      CHAVAS JR
52     80   81  07/10/37  M        HAROLD  MICHAELSON JR
53     82   83  07/10/37  M        HAROLD      CHAVAS JR
54     85   86  07/10/37  M        HAROLD       FAGEN JR
55     87   88  07/10/37  M          DARH     GRIFFIN JR
56     88   89  10/07/37  M          DARL     GRIFFIN JR
57     89   90  07/05/37  M          DARL     GRIFFIN JR
58     90   91  07/05/37  M      CLIFFORD     GRIFFIN JR
59     91   92  07/05/37  M      CLIFFORD     GRIFFIN JR
60     94   95  24/11/34  M     ADDISON J          HANNA
61     95   96  24/11/34  M  ADDISON JOHN          HANNA

[62 rows x 6 columns]

In [61]:
df3.to_csv("output.csv")